:root {
	--background-color: rgb(235, 229, 221);
	--main-color-blue: #215fb2;
	--main-color-green: #4dc47a;
	--main-color-orange: #faa000;
	--text-color-white: white;
	--task-color-grey: grey;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background-color);
	padding: 0rem;
}

h1 {
	background-color: var(--main-color-green);
	color: var(--text-color-white);
	text-align: center;
}

h2 {
	text-align: center;
	margin: 2rem 0 1.5rem 0;
	padding: 0.75rem 0;
	background-color: var(--main-color-green);
	color: var(--text-color-white);
	text-transform: uppercase;
}

h3 {
	background-color: var(--main-color-green);
}

.btn {
	background-color: var(--main-color-blue);
}

.paletta {
	starry_night: #0375b4;
	irises: #007849;
	evening: #262228;
	blueberry: #687a8f;

	vermillon: #fc4a1a;
	sunshine: #f7b733;
	fresh: #4abdac;

	celulean: #4484ce;
	tangerine: #f19f4d;
	aluminium: #d9d9d9;

	prussian_blue: #0b3c5d;
	sky_blue: #328cc1;
	gold_leaf: #d9b310;
	ivory_black: #1d2731;

	feather: #77c9d4;
	marine: #57bc90;
	forest: #015249;
	sleek_gray: #a5a5af;
}
